.MuiBottomNavigationAction-root.Mui-selected {
  color: #7EBB80 !important;
  border-bottom: 3px solid #7EBB80 !important;
}

.MuiBottomNavigationAction-label.Mui-selected {
  font-size: 10px !important;
}

.MuiBottomNavigationAction-root{
  padding: 0!important;
  min-width: 0!important;
}
